$primary-color: #1a3759;
$secondary-color: #d76108;
$accent-color:#8dcaff;

$headline-text: 'Acme', sans-serif;
$standard-text: 'Lato', sans-serif;

h1 {
    font-size: 4rem;
    font-family: $headline-text;
}
h2 {
    font-size: 3rem;
    font-family: $headline-text;
}
h3 {
    font-size: 1.6rem;
    font-family: $headline-text;
}

a, p {
    font-size: 1.6em;
    font-family: $standard-text;
    text-decoration: none;
    color: #fff;
}

section {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background: rgb(26,55,89);
    font-size: 1.4rem;
    padding: 0.5em;
    border: 3px solid #fff;
    border-radius: 20rem;
}

// Media query mixins
@mixin mediaXl {
    @media screen and (min-width: 2128) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 926px) and (max-width: 2127px){
        @content;
    }
}
@mixin mediaMd {
    @media screen and (min-width: 486px) and (max-width: 925px){
        @content;
    }
}
@mixin mediaSm {
    @media screen and (max-width: 485px) {
        @content;
    }
}
