@import './config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-larosa {
    background: #c59d5f;
}
.bg-titanCBD {
    background: #00aeff;
}
.bg-becky-stylist {
    background: #eb0eb4;
}
.bg-mt-blog {
    background: #00637c;
}
.bg-cocina-ama {
    background: #eb3007;
}
.bg-sortagram {
    background: #333;
}

html {
    font-size: 10px;
    line-height: 1.5rem;
}

body {
    background: black;
    // background: rgb(0, 0, 0);
    transition: all .5s ease-in;
}

header {
    padding: 1rem;
    height: 50vh;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(163deg, rgba(0,0,0,0.8609725140056023) 20%, rgba(17,16,80,1) 40%, rgba(215,97,8,1) 80%);
    color: #fff;
    // transform: scale(0.95);

    #header-logo {
        width: 25em;
    }

    #header-text-box {
        position: absolute;
        height: 50vh;
        width: 50%;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1 { 
            padding: 1rem 0;
            font-size: 3.5em;
            text-transform: uppercase;
        }

        p {
            margin-bottom: .5em;
        }

        .resume-link {
            padding: .5em;
            color: #fff;
            background: rgb(215,97,8);
            background: linear-gradient(167deg, rgba(215,97,8,1) 0%, rgba(26,55,89,1) 100%);
            transition: all .4s ease;
        }
        .resume-link:hover {
            background: rgb(26,55,89);
            background: linear-gradient(167deg, rgba(26,55,89,1) 0%, rgba(215,97,8,1) 100%);
        }
    }
    .social-icons {
        position: absolute;
        bottom: 1rem;

        .social-icon {
            margin: 0 1rem;
            font-size: 4em;
            color: #fff;
            transition: all .5s ease-out;
        }

        .social-icon:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }
}

.main-content {
    position: absolute;
    margin: 48vh 5% 5% 5%;
    width: 90%;
    z-index: 10;
    background: transparent;
    display: flex;
    flex-direction: row;

    .about-content {
        padding-bottom: 100px;
        width: 40%;
        color: #fff;

        .about-me {
            padding: 3em;
            background: $primary-color;
            h1 {
                margin-bottom: 1em;
            }
        }

        .skills {
            padding: 3em;
            width: 100%; 
            background: $secondary-color;

            h1 {
                margin: 0 0 1em 0;
            }
        }
    }

    .projects-content {
        width: 60%;
        background: #fff;

        .latest-projects {
            right: 5rem;
            padding: 1.2rem;
            position: absolute;
            z-index: 2;
            background: rgb(26,55,89);
            background: linear-gradient(167deg, rgba(26,55,89,1) 0%, rgba(215,97,8,1) 100%);
            color: #fff;
            transform: translateY(-50%);
        }
        
        .project {
            height: 50vh;
            color: white;
            position: relative;

            .container {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            .project-buttons {
                position: absolute;
                top: 10%;
                right: 0;
                z-index: 51;
                display: flex;
                flex-direction: column;
                transform: translateX(50%);

                .project-btn {
                    margin: 1.5rem 0;
                    padding: .5rem;
                    font-size: 2rem;
                    display: flex;
                    flex-direction: row;
                    color: #fff;
                    background: rgb(26,55,89);
                    background: linear-gradient(167deg, rgba(26,55,89,1) 0%, rgba(215,97,8,1) 100%);
                    border: 5px solid $primary-color;
                    border-radius: 20px;
                    cursor: pointer;
                }

                .project-btn:hover {
                    background: rgb(215,97,8);
                    background: linear-gradient(167deg, rgba(215,97,8,1) 0%, rgba(26,55,89,1) 100%);
                }

                
            }

            .project-info {
                height: 100%;
                width: 100%;
                z-index: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                color: white;
                transform: translateX(100%);
                transition: all .6s ease-in;

                

                img {
                    max-height: 80%;
                    width: 30%;
                    object-fit: contain;
                }

                .project-info-text {
                    padding: 0.5em;
                    width: 70%;

                    .project-stack {
                        padding: .5em;
                        top: 0;
                        left: 0;
                        max-width: 70%;
                        position: absolute;
                        background: $primary-color;
                        font-size: 1.2em;
                    }

                    p {
                        margin-bottom: 0.5em;
                    }

                    .project-links {
                        width: 60%;
                        display: flex;
                        justify-content: space-around;
                        position: absolute;
                        bottom: .5em;
                    }
                }

                &.show {
                    transform: translateX(0);
                }
            }

        }


      //PROJECT INFO SECTIONS
        #larosa {
            $larosa-color: #c59d5f;
            border: 10px solid $larosa-color;
            background: url('../assets/images/larosa.png') no-repeat center top;
            background-size: cover;

            .project-info {
                background: $larosa-color;
            }
        
        }

        #titanCBD {
            $titan-color: #00aeff;
            border: 10px solid $titan-color;
            background: url('../assets/images/titanCBD.png') no-repeat center top;
            background-size: cover;

            .project-info {
                background: $titan-color;
            }
        
        }

        #becky-stylist {
            $becky-color: #eb0eb4;
            border: 10px solid $becky-color;
            background: url('../assets/images/becky.png') no-repeat center top;
            background-size: cover;

            .project-info {
                background: $becky-color;
            }
        
        }

        #mt-blog {
            $mt-blog-color: #00637c;
            border: 10px solid $mt-blog-color;
            background: url('../assets/images/mt-blog.png') no-repeat center;
            background-size: cover;

            .project-info {
                background: $mt-blog-color;
            }
            
        }

        #cocina-ama {
            $cocina-ama-color: #eb3007;
            border: 10px solid $cocina-ama-color;
            background: url('../assets/images/cocina-ama.png') no-repeat center top;
            background-size: cover;

            .project-info {
                background: $cocina-ama-color;
            }
            
        }

        #sortagram {
            $sortagram-color: #333;
            border: 10px solid $sortagram-color;
            background: url('../assets/images/sortagram.png') no-repeat center top;
            background-size: cover;

            .project-info {
                background: $sortagram-color;
            }
            
        }

    }

    @include mediaMd {
        flex-direction: column;
        padding-bottom: 10vh;

        .about-content {
            width: 100%;
        }

        .projects-content {
            width: 100%;
        }
    }
    @include mediaSm {
        flex-direction: column;
        padding-bottom: 10vh;
 
        .about-content {
            width: 100%;
        }

        .projects-content {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    color: black;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    #footer-logo {
        position: absolute;
        left: 10rem;
        bottom: 0;
        width: 25rem;
        transform: translateY(30%);
    }
}